<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact-Email</title>
</head>
<body style="
padding: 0;
margin: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif;
display: flex;    
justify-content: center;
align-items: center;
color: black;
background-color: #D1C2F2;
width: 100%;
">
    <table style="width: 660px;
    margin-top: 40px;">
        <tr> <!-- Linha -->
            <td ><h1>Livraria Vellaris</h1></td> <!-- Coluna -->
            <td><img src="../contact-me/img/logo.png" alt=""></td> 
        </tr>

        <tr> 
            <td style="
                text-align: justify;
                padding-top: 20px;
                ">Seja bem vindo a {{from_name}}, {{user_name}}!<br> Aqui você poderá acompanhar todas informações sobre as nossas novidades</td>
        </tr>
        <tr>
            <td style="padding-top: 30px;">{{message}}</td>
        </tr>

        <tr> 
            <td style="
                padding-top: 20px;
                ">Obrigada por se inscrever, em breve traremos novidades</td>
            <td><img src="../../template/contact-me/img/Vellaris.png" style="width: 150px;"><td>
            
        </tr>
    </table>
</body>
</html>