body,
.contact-container,
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
body{
    height:780px;
    background-color: #E5E5E5;
}
.contact-container{
    margin-top: 10px;
   padding: 20px;
   border: 1px solid #000;  
}

button{
    margin-top:20px;
}