<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template-default</title>
   
</head>

<body style="
margin:0; 
padding: 0;
font-family: Verdana, Geneva, Tahoma, sans-serif; 
background-color: cadetblue;
display:flex; 
justify-content: center;
align-items: center;
color: write;
width: 100%;">
    <table style="width: 600px;">
        <tr>
            <td style="border: 1px solid white; 
            margin:16px 32px; 
            display: flex; 
            justify-content: space-between;
            align-items: center;
            ">
                <h1>Drinks com as amigas</h1>
                <img src="./img/transferir.png">

            </td>
        </tr>
        <tr>
            <td style="border-top:1px solid white;
            border-bottom: 1px solid white;
            width: 100%;
            display:flex;
            justify-content: space-between;
            align-items: center;">
             <p>Newsletter</p>
             <p>22/06</p>
            </td>
            <tr>
                <td>Olá meu nome é, {{name}}, deixei essa mensagem no seu portfólio, {{message}}, 
                    para me responder, use o meu e-mail {{email}}.</td>
            </tr>

        </tr>
    </table>
</body>

</html>